# List

In [9]:
print(list(range(0,11)))
l1 = list(range(11,0,-1))
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
name = ["Vishwajeet","Ayush", "Vivek", "Vinay", "Vishal"]

print(name)
print(type(name))

['Vishwajeet', 'Ayush', 'Vivek', 'Vinay', 'Vishal']
<class 'list'>

In [7]:
l2 = ["Data Science", "AI", True, False, None, 3.14, 13,89]
print(l2)

['Data Science', 'AI', True, False, None, 3.14, 13, 89]

In [8]:
for i in range(20,0,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [10]:
name

['Vishwajeet', 'Ayush', 'Vivek', 'Vinay', 'Vishal']

In [12]:
print(name[0])
print(name[3])

Vishwajeet
Vinay

In [13]:
len(name)-1

4

In [14]:
name[len(name)-1]

'Vishal'

In [15]:
name[-1]

'Vishal'

In [16]:
name[-2]

'Vinay'

In [17]:
name

['Vishwajeet', 'Ayush', 'Vivek', 'Vinay', 'Vishal']

In [18]:
name[-5]

'Vishwajeet'

In [19]:
name[:]

['Vishwajeet', 'Ayush', 'Vivek', 'Vinay', 'Vishal']

In [20]:
name[1:4]

['Ayush', 'Vivek', 'Vinay']

In [21]:
name[1:-1]

['Ayush', 'Vivek', 'Vinay']

In [23]:
name[:3]
name[3:]

['Vinay', 'Vishal']

In [35]:
l1 = [[10,20,30,10,20,30],
      [40,50,60,40,50,60],
      [70,80,90,70,80,90]]

In [36]:
l1

[[10, 20, 30, 10, 20, 30], [40, 50, 60, 40, 50, 60], [70, 80, 90, 70, 80, 90]]

In [26]:
l1[1]

[40, 50, 60]

In [27]:
len(l1)

3

In [28]:
l1[0][0]

10

In [29]:
l1[2][2]

90

In [30]:
l1[1][:2]

[40, 50]

In [31]:
l1

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]

In [32]:
l1[-1][-1]

90

In [37]:
l2 = [10,20,30,40,50,60,70,80,90]

In [38]:
l2

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [39]:
len(l2)

9

In [40]:
min(l2)

10

In [41]:
max(l2)

90

In [42]:
sum(l2)

450

In [43]:
sum(l2)/len(l2)

50.0

In [44]:
del l2[-1]

In [45]:
l2

[10, 20, 30, 40, 50, 60, 70, 80]

## index(), append(), insert(), remove(), sort(), pop()

In [46]:
name

['Vishwajeet', 'Ayush', 'Vivek', 'Vinay', 'Vishal']

In [47]:
name.index("Ayush")

1

In [48]:
name.index("Vishal")

4

In [49]:
name.append("Amit")

In [50]:
name

['Vishwajeet', 'Ayush', 'Vivek', 'Vinay', 'Vishal', 'Amit']

In [51]:
name.append("Abha")

In [52]:
name

['Vishwajeet', 'Ayush', 'Vivek', 'Vinay', 'Vishal', 'Amit', 'Abha']

In [53]:
name.insert(2, "Anil")

In [54]:
name

['Vishwajeet', 'Ayush', 'Anil', 'Vivek', 'Vinay', 'Vishal', 'Amit', 'Abha']

In [55]:
name[2] = "Aamod"

In [56]:
name

['Vishwajeet', 'Ayush', 'Aamod', 'Vivek', 'Vinay', 'Vishal', 'Amit', 'Abha']

In [57]:
name.remove("Amit")

In [58]:
name

['Vishwajeet', 'Ayush', 'Aamod', 'Vivek', 'Vinay', 'Vishal', 'Abha']

In [59]:
name.pop(-1)

'Abha'

In [60]:
name

['Vishwajeet', 'Ayush', 'Aamod', 'Vivek', 'Vinay', 'Vishal']

In [63]:
name.sort(reverse=True)

In [64]:
name

['Vivek', 'Vishwajeet', 'Vishal', 'Vinay', 'Ayush', 'Aamod']

# Exercise

In [67]:
value = []

while True:
    print("S.No:",len(value)+1)
    x = input()
    
    if x == "Q":
        break
    value.append(x)

for item in value:
    print(item)

S.No: 1

 Data Science

S.No: 2

 ML

S.No: 3

 AI

S.No: 4

 DL

S.No: 5

 Q

Data Science
ML
AI
DL

# List Comprihension

In [69]:
str1 = "Vishwajeet"

print(str1[0:4])

Vish

In [70]:
mylist = []

for letter in str1:
    mylist.append(letter)
print(mylist)

['V', 'i', 's', 'h', 'w', 'a', 'j', 'e', 'e', 't']

In [71]:
mylist = [letter for letter in str1]

In [72]:
mylist

['V', 'i', 's', 'h', 'w', 'a', 'j', 'e', 'e', 't']

In [73]:
l1 = [x for x in range(0,11)]
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
l2 = [x*x for x in range(0,11)] 
print(l2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [75]:
l3 = [x for x in range(0,20) if x%2 == 0]
print(l3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [76]:
l4 = [x if x%2==0 else "odd" for x in range(0,20)]
print(l4)

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10, 'odd', 12, 'odd', 14, 'odd', 16, 'odd', 18, 'odd']

In [77]:
l1 = []

for x in [2,4,6]:
    for y in [1,10,100]:
        l1.append(x*y)

In [78]:
l1

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [79]:
l2=[x*y for x in [2,4,6] for y in [1,10,100]]
print(l2)

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [80]:
c = [0,10,20.3,38.5,33.5]

f = []

for temp in c:
    f.append((9/5)*temp+32)

In [81]:
f

[32.0, 50.0, 68.53999999999999, 101.3, 92.30000000000001]

In [84]:
l3=[((9/5)*temp+32) for temp in [0,10,20]]

In [85]:
l3

[32.0, 50.0, 68.0]

# Tuple

In [86]:
t1 = (10,20,30,40,50)

In [87]:
t1

(10, 20, 30, 40, 50)

In [88]:
t1[1] = 70

TypeError: 'tuple' object does not support item assignment

In [89]:
del t1[1]

TypeError: 'tuple' object doesn't support item deletion

In [90]:
len(t1)

5

In [91]:
sum(t1)

150

In [92]:
l1 = [1,1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,3,4,4,4,4,5,5,5,5,5,6,6,6,7,7,7,7,8,8,8,8]

In [93]:
x = set(l1)

In [94]:
x

{1, 2, 3, 4, 5, 6, 7, 8}